/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Global Style */

body {
    margin: 0;
    padding: 0;
    font-family: luckiest guy, sans-serif;
    background-color: blueviolet;

}

/* Title and the functions-bar */

.header {
    background-color: aqua;
    padding: 20px, 10px;
    overflow: hidden;
    width: 100%;

}

.title {
    font-size: 350%;
    padding-left: 23px;
}

.functions-bar {
    float: right;
    background-color: azure;
}

/* Buttons --- */

.btn {
    width: 202px;
    height: 60px;
    font-family: luckiest guy, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
}

.btn-green {
    border-color: green;
    color: green;
}

.btn-green:active,
.btn-green:hover {
    color: white;
    background-color: darkgreen;
}

.btn-orange {
    border-color: orange;
    color: orange;
}

.btn-orange:active,
.btn-orange:hover {
    color: white;
    background-color: orangered;
}

.btn-purple {
    border-color: purple;
    color: purple;
}

.btn-purple:active,
.btn-purple:hover {
    color: white;
    background-color: purple;
}

.btn-red {
    border-color: red;
    color: red;
}

.btn-red:active,
.btn-red:hover {
    color: white;
    background-color: darkred;
}