/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Global Style */

body {
    margin: 0;
    padding: 0;
    font-family: luckiest guy, sans-serif;
    background-color: blueviolet;

}

/* Title and the functions-bar */

.header {
    background-color: aqua;
    padding: 20px, 10px;
    overflow: hidden;
    width: 100%;

}

.title {
    font-size: 350%;
    padding-left: 23px;
}

.functions-bar {
    float: right;
}

/* Buttons --- */

.btn {
    width: 202px;
    height: 60px;
    font-family: luckiest guy, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
}

.btn:hover {
    cursor: pointer;
}

.btn-green {
    border-color: green;
    color: green;
}

.btn-green:active,
.btn-green:hover {
    color: white;
    background-color: darkgreen;
}

.btn-orange {
    border-color: orange;
    color: orange;
}

.btn-orange:active,
.btn-orange:hover {
    color: white;
    background-color: orangered;
}

.btn-purple {
    border-color: purple;
    color: purple;
}

.btn-purple:active,
.btn-purple:hover {
    color: white;
    background-color: purple;
}

.btn-red {
    border-color: red;
    color: red;
}

.btn-red:active,
.btn-red:hover {
    color: white;
    background-color: darkred;
}

/* game.question section */

.wrapper {
    width: 85%;
    height: 65vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 642px;
    max-height: 830px;
    padding: 1%;
    background-color: aqua;

}
.game-question {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    letter-spacing: 38px;
    text-align: center;
    height: 165px;
   
}

#num1 {
    color: greenyellow;
    font-weight: 600;
    font-size: 90px;
}

#num2 {
    color: blue;
    font-weight: 600;
    font-size: 90px;
}

.question-mark {
    color: palevioletred;
    font-weight: 600;
    font-size: 90px;  
}

.game-operators {
    color: black;
    font-weight: 600;
    font-size: 90px;
   
}

/* options-area section */

.options-area {
    text-align: center;
    padding: 20px 0 20px 0;
}

.optionbtn {
    padding-top: 20px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid;
    width: 150px;
    height: 150px;
    font-size: 50px;
    text-align: center;
    font-family: luckiest guy, sans-serif;
    margin 0 30px;
}

.optionbtn:focus,
.optionbtn:hover {
    background-color: green;
    color: white;
    cursor: pointer;
    
}

/* Scores section */

.score-area {
    text-align: center;
}

.scores {
    font-size: 25px;
    display: inline-block;
    padding: 25px;
    border: 2px solid
}

.score-area span {
    color: red;
}

/* media queries with max-width 850 */
@media  screen and (max-width: 850px) {
     .btn {
        font-size: 21px;
     }
}
